PORT=4000
NODE_ENV=development
CORS_ORIGIN=*
DB_HOST=postgres
DB_PORT=5432
DB_NAME=criptoia
DB_USER=postgres
DB_PASSWORD=postgres
INTERNAL_API_KEY=troque-esta-chave
BINANCE_API_BASE_URL=https://api.binance.com
MARKET_CACHE_TTL_SEC=20
CANDLE_DEFAULT_LIMIT=300
