BACKEND_URL=http://backend:4000
INTERNAL_API_KEY=troque-esta-chave
WORKER_NAME=social-worker
LOOP_INTERVAL_SEC=600
REQUEST_TIMEOUT_SEC=20
REDDIT_USER_AGENT=cripto-ia-social-worker/1.0
COINGECKO_API_BASE=https://api.coingecko.com/api/v3
COINGECKO_API_KEY=
